.eventos-flujo div {
    padding: 4rem;
    font-size: 2rem;
    text-align: center;
}

.uno {
    background-color: yellow;
}

.dos {
    background-color: gold;
}

.tres {
    background-color: lightyellow;
}